<div class="page">
  <div class="bloc1">
    <h2 class="city">Yaounde</h2>
    <div class="bloc-temp">
      <div class="temp">
        <h1 class="temperature">{{donnee.temperature}} °C</h1>
        <img src={{get_image_icon(donnee.id_icon)}} alt="img" class="img-actu">
        <div class="info-sup">
          <div class="humidite">
            <h6>Humidite</h6>
            <h6>{{donnee.humidity}}</h6>
          </div>
          <div class="pluviometrie">
              <h6>Pression</h6>
              <h6>{{donnee.pressure}}</h6>
            </div>
        </div>
      </div>
    </div>
  </div>
  <app-detailed-weather></app-detailed-weather>
</div>
