<div *ngIf="!signup" class="col-lg-5 col-md-8 container-fluid p-3" id="signin-form">
	<form class="form col-12 p-0 m-0" action="#" method="get" (submit)='signIn()'>
		<div class="m-auto p-auto h1 text-center">
			<span class="fa fa-user-circle"></span>
		</div>
		<div class="text-center font-weight-bold mt-2 mb-1">
			{{ app.title }}
		</div>
		<div class="col-12 text-center text-danger">
			{{ in_message }}
		</div>
		<div class="input-group">
			<label class="col-12 mt-3" for="username">Username</label>
			<input type="text" [(ngModel)]="username" name="username" id="username" class="form-control" autocomplete="off" required>
		</div>
		<div class="input-group">
			<label class="col-12 mt-3" for="password">Password</label>
			<input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" autocomplete="off" required>
		</div>
		<div class="input-group mt-5 row">
			<div class="col-5 m-auto">
				<button type="reset" name="reset" class="btn btn-danger w-100" (click)='cancelAction()'>Cancel</button>
			</div>
			<div class="col-5 m-auto">
				<button type="submit" name="submit" class="btn btn-success w-100">Sign In</button>
			</div>
		</div>
	</form>
</div>

<div *ngIf="signup" class="col-lg-6 col-md-8 container-fluid ml-auto mb-auto pt-0 pl-3 pr-3 pb-5" id="signup-form">
	<form class="form col-12 mb--3 pb-5 row" action="#" method="get">
		<div class="text-center font-weight-bold mb-1 col-12 h2">
			{{ app.title }} <span class="ml-2">Sign Up</span>
		</div>
		<div class="col-12 text-center text-danger">
			{{ up_message }}
		</div>
		<div class="col-lg-6 col-md-6 m-auto input-group">
			<label class="col-12" for="name">Name</label>
			<input type="text" [(ngModel)]="user.name" name="name" id="name" class="form-control" autocomplete="off">
		</div>
		<div class="col-lg-6 col-md-6 m-auto input-group">
			<label class="col-12" for="surname">Surname</label>
			<input type="text" [(ngModel)]="user.surname" name="surname" id="surname" class="form-control" autocomplete="off">
		</div>
		<div class="col-lg-6 col-md-6 input-group">
			<label class="col-12" for="birthday">Birthday</label>
			<input type="date" [(ngModel)]="user.birthday" name="birthday" id="birthday" class="form-control">
		</div>
		<div class="col-lg-6 col-md-6 m-auto input-group mt-1 row">
			<label class="col-12">Gender</label>
			<div class="col-12 mt-1 row">
				<div class="col-12 m-auto row">
					<div class="col-1">
						<input type="radio" [(ngModel)]='user.sex' name="sex" value="Masculin" id="masculin">
					</div>
					<div class="col-1">
						<label for="masculin">Masculine</label>
					</div>
				</div>
				<div class="col-12 m-auto row">
					<div class="col-1">
						<input type="radio" [(ngModel)]='user.sex' name="sex" value="Feminin" id="feminin">
					</div>
					<div class="col-1">
						<label for="feminin">Feminine</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 m-auto input-group">
			<label class="col-12" for="username2">Username</label>
			<input type="text" [(ngModel)]="user.username" name="username" id="username2" class="form-control" autocomplete="off">
		</div>
		<div class="col-lg-6 col-md-6 m-auto input-group">
			<label class="col-12" for="password2">Password</label>
			<input type="password" [(ngModel)]="user.password" name="password" id="password2" class="form-control" autocomplete="off">
		</div>
		<div class="col-lg-6 col-md-6 m-auto input-group">
			<label class="col-12 mt-3" for="password3">Password <span id="grayed">(Confirmation)</span></label>
			<input type="password" [(ngModel)]="password" #password2 name="password" id="password3" class="form-control" autocomplete="off" appPasswordCheck [source_element_id]="'password2'">
		</div>
		<div class="input-group col-11 mr-auto ml-auto mt-3 row">
			<div class="col-5 mr-auto">
				<button type="reset" name="reset" class="btn btn-danger m-auto" (click)='cancelAction()'>Cancel</button>
			</div>
			<div class="col-5 ml-auto">
				<button type="submit" name="submit" class="btn btn-success m-auto" (click)='signUp()'>Sign Up</button>
			</div>
		</div>
	</form>
</div>
