<div class="container-fluid">
	<div class="col-12 mb-5">
		<app-header (status_emitter)="updateAppStatus($event)"></app-header>
	</div>
	<section *ngIf="loggedIn">
		<app-weather></app-weather>
	</section>
	<section *ngIf="!loggedIn">
		<div id="home-cover">
        <div class="bloc1">
          <h2 class="city">Yaounde</h2>
        <div class="bloc-temp">
          <div class="temp">
            <h1 class="temperature">{{temp-actu}} °C</h1>
            <img src="" alt="img" class="img-actu">
            <div class="info-sup">
              <div class="humidite">
                <h6>Humidite</h6>
                <h6>{{hum-actu}}</h6>
              </div>
              <div class="pluviometrie">
                  <h6>Pluviometrie</h6>
                  <h6>{{plu-actu}}</h6>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</section>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
