<div class="main-detail">
  <section *ngIf="!show_weather">
	  <div class="container mt-5">
  		<div class="row">
  			<div class="col-lg-7 col-md-9 m-auto text-center">
  				<img src="assets/small_loading.gif" class="m-auto h-100" height="50">
  			</div>
  		</div>
  	</div>
  </section>

  <section *ngIf="show_weather">
    <nav class="nav">
      <p (click)="onHourDisplay()">Hourly forecast</p>
      <p (click)="onDayDisplay()">Weekly forecast</p>
    </nav>

    <div class="bloc" [hidden] = "hourHidden">
      <div class="hour-display" *ngFor="let hour of hourly_data">
        <h5>{{hour.name}}</h5>
        <img src={{hour.img_url}} alt="img" class="time-img">
        <div>
          <h5>
            <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
            {{hour.temperature}} °C
          </h5>
          <h6>
            <i class="fa fa-tint" aria-hidden="true"></i>
            {{hour.humidity}} %
          </h6>
          <h6>
            <i class="fa fa-flag" aria-hidden="true"></i>
            {{hour.wind_speed}} m/s
          </h6>
        </div>
      </div>
    </div>

    <div class="bloc" [hidden] = "dayHidden">
      <div class="hour-display days" *ngFor="let day of weekly_data">
        <div class="some-padding" (click) = "onDayData(day)">
          <h4>{{day.name}}</h4>
          <img src={{day.img_url}} alt="img" class="time-img">
          <div class="no-padding">
            <h6>
              <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
              {{day.temperature[0]}} - {{day.temperature[1]}} (°C)
            </h6>
            <h6>
              <i class="fa fa-tint" aria-hidden="true"></i>
              {{day.humidity[0]}} - {{day.humidity[1]}} (%)
            </h6>
            <h6>
              <i class="fa fa-flag" aria-hidden="true"></i>
              {{day.windspeed}} (m/s)
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!--hourly display for weekly data forecast-->

    <div [hidden] = "detailsHidden" class="blocPlus">
      <h4>Hourly forecast for {{detailsName}}</h4>
      <div class="bloc">
        <div class="hour-display" *ngFor="let hour of day_details">
          <h5>{{hour.name}}</h5>
          <img src={{hour.img_url}} alt="img" class="time-img">
          <div>
            <h5>
              <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
              {{hour.temperature}} °C
            </h5>
            <h6>
              <i class="fa fa-tint" aria-hidden="true"></i>
              {{hour.humidity}} %
            </h6>
            <h6>
              <i class="fa fa-flag" aria-hidden="true"></i>
              {{hour.wind_speed}} m/s
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
