<div class="main-detail">
  <nav class="nav">
    <p onclick="onHourDisplay()">Toutes les heures</p>
    <p onclick="onDayDisplay()">Hebdomadaire</p>
  </nav>
  
  <div class="bloc" *ngIf="hourDisplay == true">
    <div class="hour-display">
      <h3>15h00</h3>
      <img src="http://openweathermap.org/img/wn/11d@2x.png" alt="img" class="time-img">
      <div>
        <h5>
          <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
          18 °C
        </h5>
        <h6>
          <i class="fa fa-tint" aria-hidden="true"></i>
          10%
        </h6>
        <h6>
          <i class="fa fa-fire" aria-hidden="true"></i>
          25
        </h6>
      </div>
    </div>

    <div class="hour-display" *ngFor="let hour of hourly-display">
      <h3>{{hour-display.name}}</h3>
      <img src={{hour.img_url}} alt="img" class="time-img">
      <div>
        <h5>
          <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
          {{hour.temperature}}
        </h5>
        <h6>
          <i class="fa fa-tint" aria-hidden="true"></i>
          {{hour.humidity}}
        </h6>
        <h6>
          <i class="fa fa-fire" aria-hidden="true"></i>
          {{hour.rainfall}}
        </h6>
      </div>
    </div>
  </div>

  <div class="bloc" *ngIf="dayDisplay == true">
    <div class="hour-display" *ngFor="let day of daily-display">
      <h3>{{day.name}}</h3>
      <img src={{day.img_url}} alt="img" class="time-img">
      <div>
        <h5>
          <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
          {{day.temperature}}
        </h5>
        <h6>
          <i class="fa fa-tint" aria-hidden="true"></i>
          {{day.humidity}}
        </h6>
        <h6>
          <i class="fa fa-fire" aria-hidden="true"></i>
          {{day.rainfall}}
        </h6>
      </div>
    </div>
  </div>
</div>