#main-div{
	position: fixed;
	right: 0px;
	top: 50px;
	height: 87%;
	box-shadow: 3px 3px 5px #c0c0c0,
				-3px 3px 5px #c0c0c0;
	overflow-y: scroll;
}

#address-form{
	position: fixed;
	top: 20px;
	right: calc(50% - 40px);
	margin: auto;
	width: 450px;
	height: 550px;
	overflow-y: scroll;
}

.nav-item, .btn-link{
	cursor: pointer;
}

.picture{
	border-radius: 50%;
	border: 1px solid #f00;
}

.picture-big{
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
}

.picture-small{
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	max-height: 40px;
}
